.featured-products {
  margin: 32px;

  &__product-list {
    display: flex;
    gap: 1rem;

    .desktop {
      display: none;
    }
  }

  &__product-button{
    display: flex;
    justify-content: center;
    margin: 32px;
  }
}

@media (max-width: 767px) {
  .featured-products {

    &__product-list {
      overflow: auto;
      .desktop {
        display: flex;
        min-width: 320px;
      }
    }
  }
}