.topbar {
    background-color: rgb(118 44 251);

    &__marquee {
        display: flex;
        width: max-content;
        animation: marquee 20s linear infinite;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__text {
        padding: 10px;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__icon {
        height: 16px;
        margin: 0 15px;
    }

}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}