@import 'product-card';
@import 'featured-products';
@import 'topbar';
@import 'header';
@import 'hero-banner';
@import 'latest-collection';
@import 'collection-card';

@font-face {
  font-family: 'regular';
  src: url('/assets/fonts/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('/assets/fonts/bold.woff') format('woff');
}

body {
  font-family: 'regular', Arial, sans-serif;
  background-image: url(/assets/bg.webp);
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(23, 23, 23);
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    font-weight: normal;
  }

  h1,
  h2 {
    font-family: 'bold', Arial, sans-serif;
  }

  h1 {
    font-size: 88px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  button {
    font-family: 'bold', Arial, sans-serif;
    font-size: 32px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    height: 72px;
    background-color: rgb(118 44 251);
  }

  button:hover {
    transition: transform 0.5s ease;
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .page-header {
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;
  }

  .page-content {
    max-width: 1400px;
    margin: 0 auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


@media (max-width: 767px) {
  .movil {
    display: none !important;
  }
}