@import 'product-card';
@import 'featured-products';
@import 'topbar';
@import 'header';

@font-face {
  font-family: 'regular';
  src: url('/assets/fonts/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bold';
  src: url('/assets/fonts/bold.woff') format('woff');
}

body {
  font-family: 'regular', Arial, sans-serif;
  background-image: url(/assets/bg.webp);
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #000;
  line-height: 1.5;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    font-weight: normal;
  }

  h1,
  h2 {
    font-family: 'bold', Arial, sans-serif;
  }

  h1 {
    font-size: 88px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  button {
    background-color: rgb(118 44 251);
  }

  .page-header {
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


@media (max-width: 767px) {
  .movil {
    display: none !important;
  }
}